<%= stylesheet_link_tag "books", :media => "all" %>

<h1>Books</h1>

<table></table>


<h2>New Book</h2>

<%= form_with model: Book.new, local:true do |f| %>
  <p>Title</p>
  <%= f.text_field :title %>

  <p>Body</p>
  <%= f.text_area :body %>
  <br>
  <%= f.submit 'Create Book' %>
<% end %>