<%= flash[:notice] %><br>
<span><strong>Title:</strong><%= @book.title %></span><br>
<span><strong>Body:</strong><%= @book.body %></span>

<p><%= link_to 'Edit','/books/edit/' + @book.id.to_s %></p>
<p><%= link_to 'Back','/books/index' %></p>